.root {
  position: relative;
  left: -20px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  @media(max-width: 1190px) {
    margin: 20px 0;
  }
}

.icon {
  width: 22px;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;
  cursor: pointer;
  @media(max-width: 1190px) {
    left: 19px;
    top: 33px;
  }
} 

.clearIcon {
  width: 16px;
  height: 16px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  @media(max-width: 1190px) {
    top: 34px;
    width: 14px;
    height: 14px;
  }

  &:hover {
    opacity: 0.8;
  }
}